.wrapper {
    margin: 20%;
}

.forgetPasswordClass{
    display: grid;
    place-items: center;
    text-align: flex-start;
    
    border:1px solid #8F8F8F;
    flex-direction: column;
    color: #8F8F8F;
    border-radius: 10px;
    width: 800px;
    height: 400px;
}



.forgetPasswordClass h2{
    color: #5C218B;
    width: 410px;
    height: 48px;
    font-family: poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.forgetPasswordClass label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;

}

.forgetPasswordClass input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    border: 1px solid ;
    
}
    
.forgetPasswordClass button{
    width: 500px;
    
    padding: 10px;
    border-radius: 10px;
    background-color: #5C218B;
    color: #FFFFFF;
}